<div class="container">
  <div class="panel panel-default">
  	<div class="panel-content">
		<table class="table table-hover" *ngIf='workers && workers.length'>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Birthdate</th>
					<th>E-Mail</th>
					<th>Departament</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor='let worker of workers'>
						<td>{{ worker.firstName }}</td>
						<td><a uiSref='worker' [uiParams]="{ id: worker.id }">{{ worker.lastName }}</a></td>
						<td>{{ worker.birthdate }}</td>
						<td>{{ worker.email }}</td>
						<td>{{ worker.department }}</td>
				</tr>
			</tbody>
		</table>
	  </div>
	  <div class="panel-footer">
	  	<button>
	  		<i class="glyphicon glyphicon-user"></i> Add user
	  	</button>
	  </div>
  </div>
</div>