<div class="container">
  <div class="panel panel-default" [hidden]="submitted">
		<div class="panel-header">
      <h3>Add new worker:</h3>
		</div>
    <div class="panel-content">
      <form #form="ngForm" (submit)="submitForm(form)" novalidate>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" 
                 required
                 [(ngModel)]="model.firstName" name="firstName">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" 
                required
                [(ngModel)]="model.lastName" name="lastName">
        </div>
        <div class="form-group">
          <label for="birthdate">Birthdate</label>
          <input type="date" class="form-control" id="birthdate"
                 [(ngModel)]="model.birthdate" name="birthdate">
        </div>
        <div class="form-group">
          <label for="mail">E-mail</label>
          <input type="email" class="form-control" id="mail" 
                 required
                 [(ngModel)]="model.email" name="mail">
        </div>
        <div class="form-group" [class.has-error]="hasDepartmentError">
          <label class="control-label" for="department">Department</label>
          <select class="form-control" id="department" #department name="department"
                  (blur)="validateDepartments(department.value)"
                  (change)="validateDepartments(department.value)"
                  [(ngModel)]="model.department">
            <option value="default">Select a department...</option>
            <option *ngFor="let department of departments" [value]="model.department">{{ department }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="avatar">Avatar URL</label>
          <input type="text" class="form-control" id="avatar" 
                 required
                 [(ngModel)]="model.avatar" name="avatar">
        </div>
        <button type="submit" class="btn btn-default"
                [disabled]="!form.valid" >Submit</button>
      </form>
      Model: {{ model | json }} {{ hasDepartmentError }}
      <br>
      Angular: {{ form.value | json }}
    </div>
    <div class="panel-footer">
      <button uiSref='workers' class="btn btn-default">
        <i class="glyphicon glyphicon-share-alt"></i> Back to list</button>
    </div>
  </div>
  <div class="panel panel-default" [hidden]="!submitted">
    <div class="panel-header">
      <h3>You submitted the following:</h3>
    </div>
    <div class="panel-content">
      <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9  pull-left">{{ model.firstName }} {{ model.lastName }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Birthday</div>
        <div class="col-xs-9 pull-left">{{ model.birthday }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">E-mail</div>
        <div class="col-xs-9 pull-left">{{ model.email }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Department</div>
        <div class="col-xs-9 pull-left">{{ model.department }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Avatar</div>
        <div class="col-xs-9"><img [src]="model.avatar" class="img-responsive"/></div>
      </div>
    </div>
    <div class="panel-footer">
      <button uiSref='workers' class="btn btn-default">
        <i class="glyphicon glyphicon-share-alt"></i> Back to list</button>
    </div>
  </div>
</div>